.button-confirm{
    background-color: var(--cor--primaria);
}
.button-cancel{
 background-color: var(--cor--primaria);
}
.button-register{
background-color: var(--cor--primaria);
}
.card{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--cor--primaria);
}