 
           
              
            #pai{

              
                padding: 35px;
                flex-direction: row; 
                justify-content: center;
                display: flex;
                gap: 15px;
                align-items: center;
                flex-grow: wrap-reverse;
                height: 500px;
                
                }
            #filho{

                align-items: center;
            
               padding: 20px;
               flex-direction: column; 
               border-radius: 20px;
               
               
               }
               #filho-2{

                align-items: center;
              
               padding: 40px;
               flex-direction: column; 
               border-radius: 20px;
              
            
               
               }
               #filho-3{

                align-items: center;
               
               padding: 20px;
               flex-direction: column; 
               border-radius: 20px;
           
               }

               .show{
                display: none;
               }


               nav {
                display: flex;
                gap: 10px;
                transition: max-height 0.5s ease, opacity 0.5 ease;
              }
              
              
              @media (max-width: 1125px) {
              
              
                header {
                  flex-direction: column;
                  gap: 10px;
                }
              
                
                .show {
                  display: flex;
                }
            
            
              
              
                nav{
                
                
                  flex-direction: column;
                  align-items: center;
                  max-height: 0;
                  opacity:0;
                  width: 100%;
                  transition: max-height 0.5s ease, opacity 1s ease;
              
              
              }
              
                nav.ativo {
                  max-height: 500px; 
                  opacity: 1;
                }
              }
              footer{
                display: flex;
                align-items: center;
                justify-content: center;
                
      

              }

              footer img {
               
                width:5%;
              }